body{
    margin: 0;
    padding: 0;
    background-color: black;
}

.countener{
    width: 400px;
    height: 400px;
    margin: 100px auto 0 auto;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    font-family: 'Source Sans Pro', sans-serif;
}

.countener-1{
    width: 290px;
    margin: 50px auto 0 auto;
}

.label-text{
    font-size: 20px;
}

.enter-text{
    padding: 10px 80px 10px 10px;
    border-radius: 10px;
}

.btn{
    margin-top: 20px;
    color: #F2AA4CFF;
    background-color: black;
    padding: 10px 90px;
    font-size: 20px;
    border-radius: 10px;
}

.btn:hover{color:black; background-color: #F2AA4CFF;}

.signup{
    text-align: center;
}

.signup-text{
    font-size: 20px;
    text-decoration: none;
    color: #F2AA4CFF;
}

.terms-text{
    font-size: 20px;
    text-decoration: none;
    color: rgb(0, 172, 240);
}